@import '../styles/variables.scss';

.base {
  box-shadow: none;
  width: 200px;
  padding: 8px 15px;
  margin: 0 auto;
  outline: none;
  border-radius: 5px;
  background-color: $COLOR-LIGHT-BLUE;
  color: $COLOR-BLACK;
  border: 1px solid darken($COLOR-LIGHT-BLUE, 15%);
  margin-top: 20px;

  &:hover {
    background-color: darken($COLOR-LIGHT-BLUE, 15%);
    cursor: pointer;
  }
}
